
html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color:white;
    font-size: 1.1em;
    line-height:1.5em;
    text-align: center;
}

img{
    width: 100%;
    height:100%;
}


h1,h2,h3{
    margin: 0;
    padding: 1em 0;
}

p{
    margin:0;
    padding: 1em 0;
}
a{
    color:white;
    text-decoration: none;
}

span{
    color:rgb(245, 3, 3);  /* LOGO AT TOP*/
}
.btn{
    color:white;
    text-decoration: none;
    background: #333;
    padding: .5em 2em;
    border: 1px solid #666;
    display: inline-block;
    margin: .5em 0;
}

.btn:hover{
    background:#eaeaea;
    color:#333;
}








nav li{
    display: inline-block;
    padding-left: 1.7em;
    padding-top: 1.4em;
    margin-right: 1.9em;
    font-size: 19px;
}

nav li a:hover{
    transform: scale(1.5);
    display: block;
    font-style: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





#showcase{
    min-height: 590px;
    color: #fff;
}

/* set the background by putting an img and z-1 */
#showcase  .bg-image {
    position: absolute;
    background: #333 url('bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 570px;
    z-index:-1;
    opacity: .8;
}


#showcase h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 76px;
    font-style: italic ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2.2px;
    line-height: 70px;
}
#showcase p{
    font-size: 1.4em;
}



/* padding for the content in the middle */
#showcase .content-wrap,
#section-a .content-wrap{
    padding: 0 1.5em;
}











#logosectiona{
    width: 15em;
    height: 8em;
    display: inline-block;

}
#section-a{
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

#section-a h2{
    font-size: 1.8rem;
}
#section-a p{
    font-size: 1.3rem;
}






#section-b{
    padding: 2em 1em 1em;
    display: block;
}

#section-b ul{
    list-style:none;
    margin:0;
    padding:0;
}

#section-b li{
    margin-bottom: 1em; 
    background: white;
    color: #333;
}

/* The h and text under the block images, its own div */
.card-content{
    padding:1.5em;
}





/* we take care */
#section-c{
    background: #fff;
    color:#333;
    padding:2.4em;
}






/* contact bottom boxes */
#section-d .box{
    padding:2em;
    color:#fff;
}
#section-d a{
    color:white;
    text-decoration: none;
}
#email:hover{
    transform: scale(1.5);
    display: inline-block;
}



#section-d .box1{
    background: rgba(172, 13, 13, 0.507);
}





#main-footer{
    padding-bottom: 2em;
    background: rgba(0, 0, 0, 0.775);
    padding: 1.6em;
    text-align:center;
    color:red;
}







/* For big screens, make grid */

@media(min-width: 700px){

    #showcase h1{
        padding-top: 186px;
        font-size: 85px;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    /* span it from 2to4 */
    .content-wrap, 
    #section-b ul{
        grid-column: 2/4;
    }

    .box1{
        grid-column: 1/1.5;
        padding: 2em;;
    }


    .box2{
        grid-column: 2/-1;
        padding: 2em;
    }

     #main-footer div{
        grid-column: span 100;
        /* To make it overflow on another line */
     }



     /* For cards, special grid of 3 */
        .grid2{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
}

}